.post-container2 {
   
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: white;
    padding: 15px;
}

#Art {
    Background: lightblue;
}

#Science {
    background: yellowgreen;
}

#Math {
    background: lightcoral;
}

#History {
    Background: orange;
}