<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>English</title>
</head>
<style>
        #header-content{
            background-image: linear-gradient(to right, #c770d8, #6066ff, #7fefc8);
            border-radius: 10px;
            border: 12px ridge #e2e2e2;
            box-shadow: 5px 5px 10px #272B30;
          }
        </style>
        
<body>
    
</body>
</html>