form {
text-align: center;
margin-bottom: 5px;

}

.infoTitle {
    font-weight: bold;
}

.buddies {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.location {
    float: left;
}

.subButton {
    float: right;
    width: 80px;
}

TextArea {
    height: 55px;
    width: 80%;
}